<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
    <session-factory>
     	<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/musicshop</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">savelichev</property>
	    <property name="connection.pool_size">10</property>
	    <property name="show_sql">true</property>
	    <property name="hbm2ddl.auto">update</property>
	    <property name="hibernate.connection.autocommit">false</property>
	    <property name="current_session_context_class">thread</property>

         <!-- 
      	<property name="hibernate.connection.provider_class">ogr.hibernate.connection.C3P0ConnectionProvider</property>
      	<property name="hebernate.c3p0.min_size">7</property>
      	<property name="hebernate.c3p0.max_size">53</property>
      	<property name="hebernate.c3p0.timeout">100</property>
      	<property name="hebernate.c3p0.max_statements">50</property>
   	   	<property name="hebernate.c3p0.idle_test_period">1000</property>
      	<property name="hebernate.c3p0.validate">true</property>
        <property name="show_sql">true</property>
        <property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider</property>
         -->
        
        <mapping class="com.savelichev.music.model.Song" />
        <mapping class="com.savelichev.music.model.Artist" />
        <mapping class="com.savelichev.music.model.Band" />
        
    </session-factory>
</hibernate-configuration>